footer {
    background-color: #403f3f ;
    color: #fff;
    padding: 50px 0;
   max-height: 40vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
  }
  
  .footer ul li a:hover {
    color: #ccc;
  }
  
  .footer .social-links {
    margin-bottom: 30px;
  }
  
  .footer .social-links a {
    display: inline-block;
    background-color: #ccc;
    color: #a42a2a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .footer .social-links a:hover {
    background-color: #fff;
    color: #29ab7d;
  }
  
  @media screen and (max-width: 768px) {
    .footer h3 {
      font-size: 24px;
    }
    .footer ul li a {
      font-size: 14px;
    }
  }
  